.cache
.nv
.config
exp/*
*.pyc
*.egg-info
data/
metric_cache
cache
wandb
*.jpg
*.ckpt
MySubmission
*.json

**/weights
**/my_dump
**/metric_cache*
**/raster_viz
**/process_data/*.txt

**/correlation_package
**/CARE
**/data
**/videos
scripts/vis3d/gemini_key.sh
**/cookies.txt
**/CLIPS